.main_nav {
    background-image: url("../../assets/background_nav.jpg");
    background-size: 50%;
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 20%;
    border: ridge 2px white;
}

.main_nav__option {
    width: 24%;
    display: flex;
    height: 100%;
    display: grid;
    grid-template-columns: 85% 10%;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.main_nav__paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main_nav__text {
    color: #ffffff;
    font-family: "Inknut Antiqua", serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.main_nav__subinfo {
    color: #ffffff;
    font-family: "Inknut Antiqua", serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.main_nav__clip {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(15% 100%, 0% 100%, 85% 0%, 100% 0%);
}

@media (max-width: 700px) {
    .main_nav {
        flex-direction: column;
        height: auto;
        padding-bottom: 50px;
        background-size: cover;
    }

    .main_nav__option {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
        height: auto;
        margin-top: 30px;

    }

    .main_nav__paragraph {
        height: auto;
    }

    .main_nav__clip {
        width: 100%;
        height: 5px;
        clip-path: none;
    }
}