.contact_modal {
    background-color: #012f464f;
    z-index: 5;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.contact_modal__container {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 450px;
    background-color: #17445a;
    overflow-y: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 5px;
}

.contact_modal__return {
    max-width: 55px;
    width: 100%;
    align-self: flex-start;
    cursor: pointer;
}

.contact_modal__container>h1 {
    color: #ffffff;
    font-family: Inknut Antiqua;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    height: 70px;
}

.contact_modal__list {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_modal__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 15px;
    flex-wrap: wrap;
    text-align: center;
}

.contact_modal__user {
    color: #ffffff;
    font-family: Inknut Antiqua;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-break: break-all;
}

.contact_modal__logo {
    width: 40px;
    height: 40px;
}