.main {
    max-height: calc(100vh - 100px);
    width: calc(100% - 200px);
    overflow-y: auto;
    padding: 80px 15px 200px 15px;
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    z-index: 2;
}

@media (max-width: 700px) {
    .main {
        width: 100%;
    }
}

.title {
    color: rgb(0, 0, 0);
    font-family: Inknut Antiqua;
    font-size: clamp(1.5rem, 8vw, 2.55rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.main_refer {
    color: rgb(0, 0, 0);
    font-family: Inknut Antiqua;
    font-size: clamp(1rem, 8vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin: 35px 0px 400px 0px;
}

.main_refer>a { 
    color: rgb(255, 255, 255);
    max-width: 300px;
    width: 100%;
    height: 60px;
    border-radius: 45px;
    border: none;
    font-size: 25px;
    font-family: Inknut Antiqua;
    line-height: 60px;
    text-decoration: none;
    padding:  0px 20px;
}

.list {
    list-style: none;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
    justify-content: space-around;
}

.item {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 30px;
    min-height: 380px;
    padding: 10px;
    height: max-content;
    border-radius: 20px;
    gap: 15px;
}

@media (max-width: 460px) {
    .item {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 35px;
    }
}

.item>img {
    max-width: 150px;
    max-height: 50px;
    width: 100%;
    border-radius: 25px;
    image-rendering: optimizeQuality;
    align-self: flex-start;
    margin-top: 50px;
    left: 5px;
    top: 0px;
    transform: rotate(-45deg);
}

.nav_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.nav_item>a {
    font-family: Inknut Antiqua;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    background-color: white;
    max-width: 150px;
    width: 100%;
    height: 40px;
    padding: 5px 8px;
    border-radius: 25px;
    margin-top: 20px;
}

.container_data {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.container_data>h3 {
    color: rgb(0, 0, 0);
    font-family: Inknut Antiqua;
    font-size: clamp(1rem, 10vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
}

.container_data>p {
    color: rgb(0, 0, 0);
    font-family: Inknut Antiqua;
    font-size: clamp(0.8rem, 1vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    max-width: 500px;
}