.header {
    background-color: rgb(192, 192, 192);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    background-image: url("../../assets/background_nav.jpg");
    background-size: 30%;
    box-shadow: -1px 11px 9px 4px rgba(3, 50, 73, 1);
    -webkit-box-shadow: -1px 11px 9px 4px rgba(3, 50, 73, 1);
    -moz-box-shadow: -1px 11px 9px 4px rgba(3, 50, 73, 1);
}

.header_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.header_name {
    color: #ffffff;
    font-family: "Inknut Antiqua", serif;
    font-size: clamp(1.1rem, 13vw, 1.8rem);
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

.header_description {
    color: #ffffff;
    font-family: "Inknut Antiqua", serif;
    font-size: clamp(1rem, 13vw, 1.4rem);
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
}

@media (max-width: 705px) {
    .header {
        min-height: 100px;
        height: auto;
        width: auto;
        gap: 15px;
        background-size: cover;
        flex-wrap: wrap;
    }

    .header_container {
        width: auto;
    }
}